[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
mongoengine = "*"
pyjwt = "*"
redis = "*"
flask = "*"
flask-mongoengine = "*"
flask-swagger = "*"

[requires]
python_version = "3.7"
