
<div  style="overflow-x: hidden; overflow-y: hidden;">
  <div class="row bodyBackground"></div>
  <div class="col-md-4 col-xs-12" style="position: absolute; top: 20%;" >

    <form style="padding: 30px 10px 30px 10px; margin: 20px; box-shadow: 2px 1px 1px #e9ecef; background: #F2F2F2;border-radius: 10px;">
      <div style="text-align: center;">
        <h2>Adapt App</h2>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Username" [(ngModel)]="details.username" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" [(ngModel)]="details.password_not_hashed" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <button style="color: #fff;background-color: #37393c;border-color: #37393c;" type="submit" class="btn btn-primary" (click)="loginClick($event)">Login</button>
      </div>
      <div style="padding-top:10px;">
        <a style="color: #37393c;" routerLink="register">Register</a>
      </div>
    </form>
  </div>

</div>


<!--&lt;!&ndash; <div class="card"> -->
<!-- -->
<!--    <form>-->
<!--      <div>-->
<!--        <input type="text" placeholder="Username" [(ngModel)]="name">-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="password" placeholder="Password" [(ngModel)]="pass">-->
<!--      </div>-->
<!--      <div>-->
<!--        <button mat-raised-button>Login</button>-->
<!--  &nbsp;-->
<!--  <a routerLink="/register"><button mat-raised-button >Register</button></a>-->
<!--</div>-->
<!--</form>  -->
<!--</div> &ndash;&gt;-->
<!--<div class="app-body" style="background-image: url('./assets/Images/UI_Design_for_Web6.0.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; height: 100%;">-->
<!--  <main class="main d-flex align-items-center" >-->
<!--    <div class="container mx-auto " >-->
<!--      <div class="row mt-5 mb-5 ml-5">-->
<!--        <div class="col-md-7 mx-auto" >-->
<!--          <div class="card-group " style="width:65% ">-->
<!--            <div class="card p-4 " >-->
<!--              <div class="card-body" >-->
<!--                <form>-->
<!--                  <h1>Login</h1>-->
<!--                  <div class="input-group mb-3">-->
<!--                    <div class="input-group-prepend">-->
<!--                      <span class="input-group-text"><i class="icon-user"></i></span>-->
<!--                    </div>-->
<!--                    <input type="text" name="name" class="form-control" placeholder="Username" autocomplete="username" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" required >-->
<!--                  </div>-->
<!--                  <div class="input-group mb-4">-->
<!--                    <div class="input-group-prepend">-->
<!--                      <span class="input-group-text"><i class="icon-lock"></i></span>-->
<!--                    </div>-->
<!--                    <input type="password" name="pass" id="password" class="form-control" placeholder="Password" autocomplete="current-password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" required>-->
<!--                  </div>-->
<!--                  <div class="row">-->
<!--                    <div class="col-6">-->
<!--                      <button type="button" class="btn btn-success px-4" (click)="loginClick($event)">Login</button>-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                     <a routerLink="register"> <button type="button" class="btn btn-primary px-4">Register</button></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </main>-->
<!--</div>-->


