<div  style="overflow-x: hidden; overflow-y: hidden;">
  <div class="row bodyBackground"></div>
  <div class="col-md-4 col-xs-12" style="position: absolute; top: 20%;" >

    <form style="padding: 30px 10px 30px 10px; margin: 20px; box-shadow: 2px 1px 1px #e9ecef; background: #F2F2F2;border-radius: 10px;">
      <div style="text-align: center;">
        <h2>Adapt App</h2>
      </div>
      <div>
        Which categories of images do you like?:
      </div>
       <div class="col-md-12">
         <div *ngFor="let preference of preferences;" class="form-check" style="padding-top: 2px">
           <div class="col-md-6">
             <input style="color: #37393c;" type="checkbox" class="form-check-input" id="check-{{preference}}" (change)="onCheckboxChange(preference,$event)">
             <label class="form-check-label" for=check-{{preference}}>{{preference}}</label>
           </div>
         </div>
       </div>
      <div style="padding-top: 10px;">
        <button style="color: #fff;background-color: #37393c;border-color: #37393c;" type="submit" class="btn btn-primary" (click)="preferencesClicked()">Save</button>
      </div>
    </form>

  </div>

</div>

