<div  style="overflow-x: hidden; overflow-y: hidden;">
  <div class="row bodyBackground"></div>
  <div class="col-md-4 col-xs-12" style="position: absolute; top: 20%;" >

    <form style="padding: 30px 10px 30px 10px; margin: 20px; box-shadow: 2px 1px 1px #e9ecef; background: #F2F2F2;border-radius: 10px;">
      <div style="text-align: center;">
        <h2>Adapt App</h2>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputUsername" placeholder="Username" [(ngModel)]="details.username" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="details.email" [ngModelOptions]="{standalone: true}">
      </div>
    
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" Password" [(ngModel)]="details.password_not_hashed" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <button style="color: #fff;background-color: #37393c;border-color: #37393c;" type="submit" class="btn btn-primary" (click)="registerClicked()">Register</button>
      </div>
    </form> 
  </div>

</div>

