<div style="padding:20px">
  <div>
    <form class="navbar" style="padding:0" role="search">
      <div class="position-relative has-icon-right" style="display: flex">
        <div style="padding: 2px"><input type="text" class="form-control round" placeholder="Search"
            [(ngModel)]="details.searchValue" [ngModelOptions]="{standalone: true}"></div>
        <div style="padding: 10px;cursor: pointer;" (click)="searchClicked($event)">
          <fa-icon size=5 [icon]="faSearch"></fa-icon>
        </div>
      </div>
      <div style="float: right; display: flex">
        <p>{{userName}}</p>
        <div style="padding-left: 5px;cursor: pointer;" (click)="logOutClicked($event)">
          <fa-icon size=5 [icon]="faLogOut"></fa-icon>
        </div>
      </div>
    </form>
    <div style="padding-left: 5px;margin-right: 130px">
      Network type : {{networkInfo}} ({{NetworkMsg}})
    </div>
    <div *ngIf="isHighRes == false" style="padding-left: 5px;margin-right: 130px">
      Show high resolution content:
      <input style="color: #37393c; padding-right: 5px;margin-left: 5px" type="checkbox" class="form-check-input"
             id="high-res-check" (change)="onResolutionCheckChange($event)">
    </div>
  </div>


  <ng-masonry-grid [masonryOptions]="{ transitionDuration: '0.0s', gutter: 5 }" [useAnimation]="true"
    [useImagesLoaded]="true"
    [scrollAnimationOptions]="{ animationEffect: 'effect', minDuration : 0.2, maxDuration : 0.3 }">
    <ng-masonry-grid-item style="margin-right: 5px;" id="{{'masonry-item-'+i}}"
      *ngFor="let image of imagesList; let i = index;" (click)="removeItem($event)">
      <img src={{image.url}} alt="No image" />
      <div style="padding: 2px;cursor: pointer;" (click)="heartClicked($event,image,i)">
        <fa-icon size=5 [icon]="faHeart"></fa-icon>
      </div>
    </ng-masonry-grid-item>
    <ng-masonry-grid-item style="margin-right: 5px;" id="{{'masonry-rec-item-'+j}}"
      *ngFor="let recimage of recommendedList; let j = index;" (click)="removeItem($event)">
      <img src={{recimage.url}} alt="No image" />
      <div style="display: flex">
        <div style="padding: 2px;cursor: pointer;" (click)="heartClicked($event,recimage,j)">
          <fa-icon size=5 [icon]="faHeart"></fa-icon>
        </div>
        <div style="padding: 2px">Recommended for you</div>
      </div>
    </ng-masonry-grid-item>
  </ng-masonry-grid>

</div>
