<div>
    <!-- <form class="navbar-form navbar-right mt-1" role="search"> -->
<form class="navbar" role="search">
  <div class="position-relative has-icon-right">
      <input type="text" class="form-control round" placeholder="Search">
      <div class="form-control-position">
          <i class="ft-search"></i>
      </div>
  </div>
</form>
</div>
<div class="images" *ngFor="let image of imagesList" (deferLoad)="image.show = true">
    <ng-container *ngIf="image.show">
      <img src={{image.url}}>
    </ng-container>
</div>

